USE [DB_BangDia]
GO
ALTER TABLE [dbo].[TieuDes] DROP CONSTRAINT [FK_TieuDes_LoaiDias]
GO
ALTER TABLE [dbo].[PhieuThues] DROP CONSTRAINT [FK_PhieuThues_KhachHangs]
GO
ALTER TABLE [dbo].[PhieuThues] DROP CONSTRAINT [FK_PhieuThues_Dias]
GO
ALTER TABLE [dbo].[PhieuDats] DROP CONSTRAINT [FK_PhieuDats_TieuDes]
GO
ALTER TABLE [dbo].[PhieuDats] DROP CONSTRAINT [FK_PhieuDats_KhachHangs]
GO
ALTER TABLE [dbo].[Dias] DROP CONSTRAINT [FK_Dias_TieuDes]
GO
/****** Object:  Table [dbo].[TieuDes]    Script Date: 12/9/2020 2:04:16 PM ******/
DROP TABLE [dbo].[TieuDes]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 12/9/2020 2:04:16 PM ******/
DROP TABLE [dbo].[TaiKhoans]
GO
/****** Object:  Table [dbo].[PhieuThues]    Script Date: 12/9/2020 2:04:16 PM ******/
DROP TABLE [dbo].[PhieuThues]
GO
/****** Object:  Table [dbo].[PhieuDats]    Script Date: 12/9/2020 2:04:16 PM ******/
DROP TABLE [dbo].[PhieuDats]
GO
/****** Object:  Table [dbo].[LoaiDias]    Script Date: 12/9/2020 2:04:16 PM ******/
DROP TABLE [dbo].[LoaiDias]
GO
/****** Object:  Table [dbo].[KhachHangs]    Script Date: 12/9/2020 2:04:16 PM ******/
DROP TABLE [dbo].[KhachHangs]
GO
/****** Object:  Table [dbo].[Dias]    Script Date: 12/9/2020 2:04:16 PM ******/
DROP TABLE [dbo].[Dias]
GO
USE [master]
GO
/****** Object:  Database [DB_BangDia]    Script Date: 12/9/2020 2:04:16 PM ******/
DROP DATABASE [DB_BangDia]
GO
/****** Object:  Database [DB_BangDia]    Script Date: 12/9/2020 2:04:16 PM ******/
CREATE DATABASE [DB_BangDia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_BangDia', FILENAME = N'D:\H\XDPM\sql\DB_BangDia.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_BangDia_log', FILENAME = N'D:\H\XDPM\sql\DB_BangDia_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_BangDia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_BangDia]
GO
/****** Object:  Table [dbo].[Dias]    Script Date: 12/9/2020 2:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dias](
	[MaDia] [nvarchar](50) NOT NULL,
	[TenDia] [nvarchar](50) NOT NULL,
	[TrangThaiDia] [nvarchar](50) NOT NULL,
	[MaTieuDe] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dias] PRIMARY KEY CLUSTERED 
(
	[MaDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHangs]    Script Date: 12/9/2020 2:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangs](
	[MaKhachHang] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](250) NULL,
	[SDT] [nvarchar](20) NULL,
 CONSTRAINT [PK_KhachHangs] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiDias]    Script Date: 12/9/2020 2:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDias](
	[MaLoaiDia] [nvarchar](50) NOT NULL,
	[TenLoaiDia] [nvarchar](50) NOT NULL,
	[ThoiGianThue] [int] NOT NULL,
	[GiaThue] [float] NOT NULL,
	[GiaPhat] [float] NOT NULL,
 CONSTRAINT [PK_LoaiDias] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuDats]    Script Date: 12/9/2020 2:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDats](
	[MaDat] [nvarchar](50) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[MaKhachHang] [nvarchar](50) NOT NULL,
	[MaTieuDe] [nvarchar](50) NOT NULL,
	[MaDia] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuDats] PRIMARY KEY CLUSTERED 
(
	[MaDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuThues]    Script Date: 12/9/2020 2:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThues](
	[MaThue] [nvarchar](50) NOT NULL,
	[GiaThue] [float] NOT NULL,
	[TrangThaiThue] [nvarchar](50) NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[NgayHenTra] [datetime] NOT NULL,
	[NgayTra] [datetime] NULL,
	[PhiTraMuon] [float] NULL,
	[TrangThaiPhi] [nvarchar](50) NULL,
	[MaDia] [nvarchar](50) NOT NULL,
	[MaKhachHang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhieuThues] PRIMARY KEY CLUSTERED 
(
	[MaThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 12/9/2020 2:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[TenDN] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TieuDes]    Script Date: 12/9/2020 2:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TieuDes](
	[MaTieuDe] [nvarchar](50) NOT NULL,
	[TenTieuDe] [nvarchar](50) NOT NULL,
	[NhaSanXuat] [nvarchar](50) NULL,
	[MaLoaiDia] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TieuDes] PRIMARY KEY CLUSTERED 
(
	[MaTieuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Dias] ([MaDia], [TenDia], [TrangThaiDia], [MaTieuDe]) VALUES (N'D0001', N'Resident Evil-copy-1', N'Sẵn sàng', N'TD0001')
INSERT [dbo].[Dias] ([MaDia], [TenDia], [TrangThaiDia], [MaTieuDe]) VALUES (N'D0002', N'Resident Evil-copy-2', N'Sẵn sàng', N'TD0001')
INSERT [dbo].[Dias] ([MaDia], [TenDia], [TrangThaiDia], [MaTieuDe]) VALUES (N'D0003', N'Resident Evil-copy-3', N'Sẵn sàng', N'TD0001')
GO
INSERT [dbo].[KhachHangs] ([MaKhachHang], [HoTen], [DiaChi], [SDT]) VALUES (N'KH0001', N'Nguyễn Hoàng Nghĩa', N'Gò Vấp, TP.HCM', N'0812346578')
INSERT [dbo].[KhachHangs] ([MaKhachHang], [HoTen], [DiaChi], [SDT]) VALUES (N'KH0002', N'Đoàn Kim Định', N'Tân Bình, TP.HCM', N'0394817274')
INSERT [dbo].[KhachHangs] ([MaKhachHang], [HoTen], [DiaChi], [SDT]) VALUES (N'KH0003', N'Châu Nhật Đăng', N'Quận 8, TP.HCM', N'0837162647')
INSERT [dbo].[LoaiDias] ([MaLoaiDia], [TenLoaiDia], [ThoiGianThue], [GiaThue], [GiaPhat]) VALUES (N'LD01', N'Đĩa Game', 20, 50000, 10000)
INSERT [dbo].[LoaiDias] ([MaLoaiDia], [TenLoaiDia], [ThoiGianThue], [GiaThue], [GiaPhat]) VALUES (N'LD02', N'Đĩa Phim', 15, 40000, 8000)
INSERT [dbo].[PhieuDats] ([MaDat], [NgayDat], [TrangThai], [MaKhachHang], [MaTieuDe], [MaDia]) VALUES (N'PD0001', CAST(0x0000AC8400000000 AS DateTime), N'Đã có đĩa', N'KH0001', N'TD0002', N'D0004')
INSERT [dbo].[PhieuDats] ([MaDat], [NgayDat], [TrangThai], [MaKhachHang], [MaTieuDe], [MaDia]) VALUES (N'PD0002', CAST(0x0000AC8C016ECF9B AS DateTime), N'Đang đặt', N'KH0005', N'TD0002', NULL)
INSERT [dbo].[PhieuDats] ([MaDat], [NgayDat], [TrangThai], [MaKhachHang], [MaTieuDe], [MaDia]) VALUES (N'PD0003', CAST(0x0000AC8C016ECF9B AS DateTime), N'Đang đặt', N'KH0007', N'TD0002', NULL)
INSERT [dbo].[PhieuThues] ([MaThue], [GiaThue], [TrangThaiThue], [NgayMuon], [NgayHenTra], [NgayTra], [PhiTraMuon], [TrangThaiPhi], [MaDia], [MaKhachHang]) VALUES (N'THUE000001', 50000, N'Đã trả đĩa', CAST(0x0000AC6A00000000 AS DateTime), CAST(0x0000AC7E00000000 AS DateTime), CAST(0x0000AC8600000000 AS DateTime), 10000, N'Chưa trả phí', N'D0001', N'KH0001')
INSERT [dbo].[PhieuThues] ([MaThue], [GiaThue], [TrangThaiThue], [NgayMuon], [NgayHenTra], [NgayTra], [PhiTraMuon], [TrangThaiPhi], [MaDia], [MaKhachHang]) VALUES (N'THUE000002', 50000, N'Đã trả đĩa', CAST(0x0000AC6A00000000 AS DateTime), CAST(0x0000AC7E00000000 AS DateTime), CAST(0x0000AC8100000000 AS DateTime), 10000, N'Chưa trả phí', N'D0005', N'KH0001')
INSERT [dbo].[PhieuThues] ([MaThue], [GiaThue], [TrangThaiThue], [NgayMuon], [NgayHenTra], [NgayTra], [PhiTraMuon], [TrangThaiPhi], [MaDia], [MaKhachHang]) VALUES (N'THUE000003', 50000, N'Đang thuê', CAST(0x0000AC6A00000000 AS DateTime), CAST(0x0000AC7E00000000 AS DateTime), NULL, NULL, NULL, N'D0006', N'KH0002')
INSERT [dbo].[TaiKhoans] ([TenDN], [MatKhau]) VALUES (N'admin', N'admin')
INSERT [dbo].[TieuDes] ([MaTieuDe], [TenTieuDe], [NhaSanXuat], [MaLoaiDia]) VALUES (N'TD0001', N'Resident Evil', N'Capcom', N'LD01')
INSERT [dbo].[TieuDes] ([MaTieuDe], [TenTieuDe], [NhaSanXuat], [MaLoaiDia]) VALUES (N'TD0002', N'Resident Evil 2', N'Capcom', N'LD01')
INSERT [dbo].[TieuDes] ([MaTieuDe], [TenTieuDe], [NhaSanXuat], [MaLoaiDia]) VALUES (N'TD0003', N'Resident Evil 3: Nemesis', N'Capcom', N'LD01')
ALTER TABLE [dbo].[Dias]  WITH CHECK ADD  CONSTRAINT [FK_Dias_TieuDes] FOREIGN KEY([MaTieuDe])
REFERENCES [dbo].[TieuDes] ([MaTieuDe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dias] CHECK CONSTRAINT [FK_Dias_TieuDes]
GO
ALTER TABLE [dbo].[PhieuDats]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDats_KhachHangs] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHangs] ([MaKhachHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuDats] CHECK CONSTRAINT [FK_PhieuDats_KhachHangs]
GO
ALTER TABLE [dbo].[PhieuDats]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDats_TieuDes] FOREIGN KEY([MaTieuDe])
REFERENCES [dbo].[TieuDes] ([MaTieuDe])
GO
ALTER TABLE [dbo].[PhieuDats] CHECK CONSTRAINT [FK_PhieuDats_TieuDes]
GO
ALTER TABLE [dbo].[PhieuThues]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThues_Dias] FOREIGN KEY([MaDia])
REFERENCES [dbo].[Dias] ([MaDia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuThues] CHECK CONSTRAINT [FK_PhieuThues_Dias]
GO
ALTER TABLE [dbo].[PhieuThues]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThues_KhachHangs] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHangs] ([MaKhachHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuThues] CHECK CONSTRAINT [FK_PhieuThues_KhachHangs]
GO
ALTER TABLE [dbo].[TieuDes]  WITH CHECK ADD  CONSTRAINT [FK_TieuDes_LoaiDias] FOREIGN KEY([MaLoaiDia])
REFERENCES [dbo].[LoaiDias] ([MaLoaiDia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TieuDes] CHECK CONSTRAINT [FK_TieuDes_LoaiDias]
GO
USE [master]
GO
